/* _content/dashboard-blazor/Components/Layout/MainLayout.razor.rz.scp.css */
/* _content/dashboard-blazor/Components/Layout/NavMenu.razor.rz.scp.css */
.sidebar[b-ctw3n2r260] {
  position: fixed;
  width: 14rem;
  background-color: #2c2f3f;
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-logo[b-ctw3n2r260] {
  margin: 0 auto;
  width: 60%;
  height: 3rem;
  background-color: #fff;
  margin-bottom: 2rem;
}

.sidebar-heading > h3[b-ctw3n2r260] {
  margin: 1.8rem 0 1rem;
  opacity: 70%;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #b0b0b5;
  font-size: 0.95rem;
  padding-left: 0.5rem;
}

.sidebar-dropdown-title[b-ctw3n2r260] {
  padding: 0.8rem;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s ease;
}

.sidebar-dropdown-title:hover[b-ctw3n2r260] {
  background-color: #3b3f54;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}

.sidebar-dropdown-title-icon[b-ctw3n2r260] {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.sidebar-dropdown-icon[b-ctw3n2r260] {
  display: flex;
  align-items: center;
}

.sidebar-dropdown-title-icon svg[b-ctw3n2r260] {
  width: 1.3rem;
  height: 1.3rem;
  fill: #e0e0e0;
}

.sidebar-dropdown-arrow svg[b-ctw3n2r260] {
  width: 1rem;
  height: 1rem;
  fill: #e0e0e0;
}

.sidebar-dropdown-list[b-ctw3n2r260] {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}

.sidebar-dropdown-list-item[b-ctw3n2r260] {
  padding: 0.5rem 0;
  color: #d0d0d5;
  text-decoration: none;
  transition: color 0.2s ease;
}

.sidebar-dropdown-list-item:hover[b-ctw3n2r260] {
  color: #fff;
  font-weight: 600;
}

.notification[b-ctw3n2r260] {
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #474f14;
  padding: 0.3rem 0.6rem;
  color: yellow;
  border-radius: 12px;
  margin-left: auto;
}

.notification.blue[b-ctw3n2r260] {
  background-color: #142c4c;
  color: #4a8ff0;
}

.sidebar:hover[b-ctw3n2r260] {
  overflow-y: auto;
}

.sidebar[b-ctw3n2r260]::-webkit-scrollbar {
  width: 8px;
}

.sidebar[b-ctw3n2r260]::-webkit-scrollbar-thumb {
  background-color: #5a5a6e;
  border-radius: 10px;
}

.sidebar[b-ctw3n2r260]::-webkit-scrollbar-track {
  background-color: #2c2f3f;
}

.sidebar[b-ctw3n2r260]::-webkit-scrollbar-thumb:hover {
  background-color: #767690;
}
