@page "/"

<PageTitle>Ajeeth Task | Dashboard Design | Blazor</PageTitle>


<div class="home">
  <Header />
  <Breadcrumbs />
  <div class="home-content">
    <OrderContainer />
    <UserContainer />
    <OrderTrackContainer />
  </div>
</div>